<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Pokedex</h1>
<% if flash[:errors] %> 
    <h4><%= flash[:errors] %></h4>
<% end %>
<%= yield %>

</body>
</html>
