<h1><%= @band.name %></h1>

<%= link_to "Edit Band", edit_band_url(@band)%>
<br>
<%= link_to "Back to Band List", bands_url %>

<h2>Albums</h2>

<ul>
    <% @band.albums.order(:name).each do |album| %>
        <li><%= link_to album.name, album_url(album) %></li>
    <% end %>
</ul>
<br>
<%= button_to "Delete Band", band_url(@band), method: :delete %>
<p><%= link_to "Create New Album", new_band_album_url(@band) %></p>